@page "/activity"
@using Tsukinia.Core;
@using Tsukinia.Translation;
@using Tsukinia.AzureClient;

<h1>@Tsukinia.Translation.TextProvider.GetText("Activity")</h1>

@if (userActivities == null)
{
    <p><em>@message</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Title</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var userActivity in userActivities)
            {
                <tr>
                    <td>@userActivity.ActivityType</td>
                    <td>@userActivity.ActivityTitle</td>
                    <td>@userActivity.Points</td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {

    string message = TextProvider.GetText("Loading");

    List<UserActivityData> userActivities;

    protected override async Task OnInitAsync()
    {
        var userActivityRepository = new AzureClientUserActivityRepository();

        var operationResult = await userActivityRepository.GetAllForUser(Secrets.TestUserChild_UserId);

        if(!operationResult.Success){
            message = "Sadly, an error occurred";
        }
        else{
            userActivities = operationResult.Result;
        }
    }
}
