@page "/activity"
@using Tsukinia.Core;
@using Tsukinia.Translation;
@using Tsukinia.AzureClient;

<h1>@Tsukinia.Translation.TextProvider.GetText("Activity")</h1>

@if (userActivities == null)
{
    <p><em>@message</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Title</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var userActivity in userActivities)
            {
                <tr>
                    <td>@userActivity.ActivityType</td>
                    <td>@userActivity.ActivityTitle</td>
                    <td>@userActivity.Points</td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {

    List<UserActivityData> userActivities = AppManager.Instance.AppData?.ChildActivities;

    string message = AppManager.Instance.AppData?.ChildActivities == null ? "No data to display" : null;

}
