@page "/activity"
@using Tsukinia.Core;
@using Tsukinia.Translation;
@using Tsukinia.AzureClient;
@using Tsukinia.Presentation;

<h1>@Tsukinia.Translation.TextProvider.GetText("Activity")</h1>

@if (userActivities == null)
{
    <p><em>@message</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@Tsukinia.Translation.TextProvider.GetText("Type")</th>
                <th>@Tsukinia.Translation.TextProvider.GetText("Title")</th>
                <th>@Tsukinia.Translation.TextProvider.GetText("Points")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var userActivity in userActivities)
            {
                <tr>
                    <td><span class="activity_icon_font oi @userActivity.IconClass" aria-hidden="true"></span></td>
                    <td>@userActivity.Title</td>
                    <td>@userActivity.Points</td>
                </tr>
            }
        </tbody>
    </table>

    <NavLink class="nav-link" href="addactivity">
    <button class="btn btn-primary">@Tsukinia.Translation.TextProvider.GetText("AddActivity")</button>
    </NavLink>

    <button class="btn btn-primary" onclick="@Refresh">@Tsukinia.Translation.TextProvider.GetText("Refresh")</button>
}

@functions {

    List<ActivityItem> userActivities;

    string message = AppManager.Instance.AppData?.ChildActivities == null ? "No data to display" : null;

    protected override void OnInit()
    {
        this.LoadActivities();
    }

    private void LoadActivities()
    {
        if(AppManager.Instance.AppData?.ChildActivities != null)
        {
            userActivities = AppManager.Instance.AppData?.ChildActivities.OrderByDescending(y => y.DateUtc).Select(x => new ActivityItem(x)).ToList();
        }
    }

    void Refresh()
    {
        AppManager.Instance.RefreshAppData();
        this.LoadActivities();
        this.StateHasChanged();
    }
}
